.catalog-slider
    position: relative
    margin-bottom: 70px
    &__inner
        position: relative
      
.catalog-slider__inner .swiper
    margin-bottom: -100px
    padding-bottom: 100px
.catalog-slider__inner .arrow
    top: calc( 27% )