.top
    display: flex
    justify-content: space-between
    gap: 15px
    padding-bottom: 30px
    margin-bottom: 30px
    border-bottom: 1px solid #CCCCCC
    &__content
        max-width: 938px
    &__heading
    &__description
        font-weight: 500
        line-height: 27px
        color: #868686
    &__subscribe